@mixin navbar-basic($height, $bg-color, $border-color) {
  height: $height;
  background-color: $bg-color;
  padding: 0!important;
  .navbar-brand {
    margin-left: 140px;
  }
  .navbar-nav {
    flex-direction: row;
    margin-right: 140px;
    .nav-item {
      .nav-link {
        display: inline-block;
        color: #FFFFFF;
        padding: 0;
        &:hover {
          border-bottom: solid 3px $border-color;
        }
        &.active {
          border-bottom: solid 3px $border-color;
        }
      }
      &:not(:last-child) {
        .nav-link {
          margin-right: 30px;
        }
      }
    }
  }
}

@mixin label($height, $width, $radius, $bg-color, $font-size, $font-weight, $color) {
  display: flex;
  align-items: center;
  justify-content: center;
  height: $height;
  width: $width;
  border-radius: $radius;
  background-color: $bg-color;
  p {
    position: relative;
    font-size: $font-size;
    font-weight: $font-weight;
    color: $color;
    margin-bottom: 0;
  }
}

@mixin button($height, $width, $radius, $bg-color, $font-size, $font-weight, $color) {
  display: flex;
  align-items: center;
  justify-content: center;
  height: $height;
  width: $width;
  border-radius: $radius;
  background-color: $bg-color;
  &:hover {
    opacity: 0.9;
  }
  a {
    position: relative;
    height: $height;
    width: $width;
    font-size: $font-size;
    font-weight: $font-weight;
    line-height: $height;
    color: $color;
    text-align: center;
    text-decoration: none;
  }
}

body {
  font-family: "Lato", "Noto Sans JP", sans-serif!important;
  // font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif!important;
}

body.fixed {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
}

.container-fluid {
  padding: 0 24px!important;
}

// heading
.heading {
  position: relative;
  font-size: 60px;
  font-weight: bold;
  color: #333333;
  text-align: center;
  height: 77px;
  margin-bottom: 0;
  &::before {
    content: '';
    position: absolute;
    bottom: -44.43px;
    left: 50%;
    width: 76px;
    height: 5px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #3F51B5;
  }
}

// text
.title {
  color: #6F7579;
  font-weight: bold;
}
.text, 
.sender, 
.date {
  color: #6F7579;
  margin-bottom: 0;
}
.text {
  overflow: hidden;
}
.text-red {
  color: #FF0000;
}
.text-strong {
  font-size: 22px;
  font-weight: bold;
}
.date {
  width: 85px;
}

// color
.bg-gray {
  background-color: #999999;
}
.bg-saturday {
  background-color: #5160EA;
}
.bg-sunday {
  background-color: #EA5174;
}
.bg-lightgray {
  background-color: #DDDDDD;
}
.bg-lightblue {
  background-color: #B3C9E9;
}
.bg-pink {
  background-color: #E99BAD;
}
.bg-white {
  background-color: #FFFFFF;
}

// paginate
.paginate {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  text-align: center;
  .item {
    height: 50px;
    width: 50px;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    &:not(:last-child) {
      margin-right: 20px;
    }
    &.active {
      background-color: #3F51B5;
      .link {
        color: #FFFFFF;
        font-weight: bold;
      }
    }
    &:not(.active) {
      border: solid 1px #3F51B5;
      .link {
        color: #707070;
      }
    }
  }
}

// Navigation
.navbar {
  @include navbar-basic(100px, #3F51B5, #E81919);
}
.navbar-responsive {
  display: none;
}

// Landing
.landing {
  height: 600px;
  .swiper-container {
    height: 100%;
    .swiper1 {
      background: url(../img/mainvisual.png) no-repeat center;
      background-size: cover;
      background-position: center;
      .inner {
        color: #333333;
        text-align: center;
        .landing-message {
            font-size: 68px;
            font-weight: bold;
            padding-top: 149px;
            margin-bottom: 20px;
        }
        .lead-sentence {
            font-size: 38px;
            font-weight: bold;
            margin-bottom: 82px;
        }
        .contact-button {
          @include button(83px, 390px, 12px, #3F51B5, 38px, bold, #FFFFFF);
          box-shadow: 0 3px 6px lighten(#000000, 84%);
          margin: 0 auto;
        }
      }
    }
    .swiper2 {
      background: url(../img/mainvisual2.jpg) no-repeat center;
      background-size: cover;
      background-position: center;
    }
    .swiper3 {
      background: url(../img/mainvisual3.jpg) no-repeat center;
      background-size: cover;
      background-position: center;
    }
    .swiper4 {
      background: url(../img/mainvisual4.jpg) no-repeat center;
      background-size: cover;
      background-position: center;
    }
    .swiper5 {
      background: url(../img/mainvisual5.jpg) no-repeat center;
      background-size: cover;
      background-position: center;
    }
    .swiper-pagination {
      bottom: 24px;
      .swiper-pagination-bullet {
        height: 16px;
        width: 16px;
        margin-left: 6px;
        margin-right: 6px;
      }
    }
    .swiper-button-prev,
    .swiper-button-next {
      width: 75px;
      height: 75px;
      top: 213px;
      margin-top: 0;
    }
    .swiper-button-prev {
        background: url(../img/arrow-prev.svg) no-repeat center center / contain;
        margin-left: 158px;
    }
    .swiper-button-next {
        background: url(../img/arrow-next.svg) no-repeat center center / contain;
        margin-right: 158px;
    }
  }
}

// Card
.card {
  background-color: #EFEFEF!important;
  padding-top: 68px;
  padding-bottom: 99.17px;
  border: none!important;
  .container-fluid {
    .items {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 113px;
      margin-left: 30px;
      .item {
        width: 342px;
        height: 355px;
        background-color: #FFFFFF;
        padding: 16px 16px 28px;
        border-radius: 4px;
        margin-right: 30px;
        margin-bottom: 20px;
        .title {
          font-size: 20px;
          margin-top: 26px;
          margin-bottom: 20px;
        }
      }
    }
    .swiper-container {
      height: 397.83px;
      max-width: 1086px;
      .swiper-slide {
        width: 342px!important;
        .item {
          width: 342px;
          height: 355px;
          background-color: #FFFFFF;
          padding: 16px 16px 28px;
          border-radius: 4px;
          .title {
            font-size: 20px;
            margin-top: 26px;
            margin-bottom: 20px;
          }
        }
      }
      .swiper-pagination {
        bottom: 0;
        .swiper-pagination-bullet {
          height: 12px;
          width: 12px;
        }
      }
      .swiper-button-prev,
      .swiper-button-next {
        height: 14.14px;
        width: 14.14px;
        top: auto;
        bottom: 5.07px;
        margin-top: 0;
      }
      .swiper-button-prev {
          background: url(../img/pagenation-left.svg) no-repeat center center / contain;
          left: 50%;
          -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
          margin-left: -29.93px;
      }
      .swiper-button-next {
        background: url(../img/pagenation-right.svg) no-repeat center center / contain;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        margin-left: 29.93px;
      }
    }
  }
}

// News
.news {
  padding-top: 68px;
  padding-bottom: 29px;
  .container-fluid {
    text-align: center;
    .heading::before {
      bottom: -34.5px;
    }
    .items {
      max-width: 847px;
      padding-right: 9px;
      margin: 125px auto 0;
      text-align: left;
      .item {
        display: flex;
        padding-bottom: 16.5px;
        &:not(:first-child) {
          padding-top: 18.5px;
        }
        &:not(:last-child) {
          border-bottom: solid 1px #707070;
        }
        .date {
          margin-left: 7.5px;
        }
        .label-gray {
          @include label(30px, 100px, 6px, #666666, 16px, bold, #FFFFFF);
        }
        .label-blue {
          @include label(30px, 100px, 6px, #3F51B5, 16px, bold, #FFFFFF);
        }
        .label-red {
          @include label(30px, 100px, 6px, #E81919, 16px, bold, #FFFFFF);
        }
        .label-gray,
        .label-blue,
        .label-red {
          margin: 0 30px;
        }
        .text {
          max-width: 576px;
          line-height: 1.625;
          margin-bottom: 0;
        }
      }
    }
    .more-link {
      position: relative;
      display: inline-block;
      font-weight: bold;
      color: #E81919;
      margin-top: 16px;
      &::after {
        position: absolute;
        right: -10.5px;
        content: url(../img/news-arrow.svg);
      }
    }
  }
}

// Price
.price {
  background-color: #EFEFEF;
  padding-top: 60px;
  padding-bottom: 102px;
  .heading::before {
    bottom: -34.5px;
  }
  .content{
    max-width: 1090px;
    justify-content: space-between;
    margin: 115px auto 0;
    .price-img {
      height: 300px;
      width: 360px;
      margin-bottom: 10px;
    }
    .item {
      .price-table {
        margin-bottom: 16px;
        th, td {
          height: 47px;
          width: 158px;
          border: solid 1px #707070;
        }
        .tb-head {
          color: #FFFFFF;
          font-weight: bold;
          text-align: center;
        }
        .tb-high {
          height: 82px;
        }
        .tb-wide {
          width: 224px;
        }
        .text {
          padding-right: 17px;
          text-align: right;
          color: #333333;
        }
        .notice {
          font-size: 14px;
        }
      }
    }
  }
}

// Access
.access {
  padding-top: 68px;
  padding-bottom: 88px;
  .heading::before {
    bottom: -34.5px;
  }
  .content {
    max-width: 800px;
    text-align: center;
    margin: 139.43px auto 0;
    .map-wrapper {
      position: relative;
      overflow: hidden;
      height: 0;
      padding-bottom: 50%;
      margin-bottom: 41.57px;
      .map {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
      }
    }
    .access-table {
      text-align: left;
      margin-left: 40px;
      .access-row {
        display: flex;
        &:not(:last-child) {
          margin-bottom: 15.1px;
        }
        .access-colmun {
          &:first-child {
            width: 64px;
            margin-right: 54px;
          }
          .text {
            font-weight: normal;
            height: 21px;
            color: #333333;
          }
        }
      }
    }
    .map-button {
      @include button(56px, 305px, 12px, #3F51B5, 20px, bold, #FFFFFF);
      box-shadow: 0 3px 6px lighten(#000000, 84%);
      margin: 37.85px auto 0;
      a::after {
        content :url(../img/access-arrow.svg);
        position: absolute;
        right: -42.5px;
      }
    }
  }
}

// Contact
.contact {
  padding-top: 68px;
  padding-bottom: 122px;
  background-color: #EFEFEF;
  .container-fluid {
    .heading::before {
      bottom: -34.5px;
    }
    .contact-form {
      height: 912px;
      max-width: 800px;
      color: #333333;
      background-color: #FFFFFF;
      padding: 57.37px 43px 60px 52px;
      margin: 85px auto 0;
      .form-group {
        justify-content: space-between;
        margin-bottom: 0;
        position: relative;
        label {
          margin-bottom: 0;
        }
        .form-label-wrapper {
          position: relative;
          width: max-content;
          .form-label {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 0;
          }
          .required-label {
            @include label(22.72px, 45.98px, 12px, #E81919, 14px, bold, #FFFFFF);
            position: absolute;
            bottom: -29.71px;
            left: 4px;
          }
        }
        .form-control {
          width: 528px;
          border: solid 1px #707070;
          padding-left: 16px;
          &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
            color:#CCCCCC;
          }
          &:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color:#CCCCCC;
          }
          &::placeholder{ /* Others */
          color:#CCCCCC
          }
        }
        #name, #email, #contact-type {
          height: 60px;
        }
        #contact-type {
          background: transparent url(../img/select-arrow.svg) no-repeat center right 21.5px/16px 16px;
        }
        #comments {
          height: 240px;
        }
        .radio + span {
          padding-top: 7px;
          padding-left: 39px;
          margin-left: 0;
          margin-right: 26px;
          &::before {
            height: 30px;
            width: 30px;
            border: 1px solid #707070;
          }
          &::after {
            height: 18px;
            width: 18px;
            left: 6px;
            background-color: #3F51B5;
          }
        }
        #privacy-policy + span {
          height: 30px;
          line-height: 30px;
          padding-left: 50px;
          margin-left: 0;
          &::before {
            height: 30px;
            width: 30px;
          }
          &::after {
            border: none;
            background-image: url(../img/check.svg);
            background-repeat: no-repeat;
            background-position: center center;
            -webkit-transform: none;
            transform: none;
            top: 3px;
            height: 30px;
            width: 30px;
          }
        }
      }
      .name-block,
      .mail-block,
      .contact-type-block {
        display: flex;
        align-items: center;
      }
      .name-block {
        margin-bottom: 49px;
      }
      .mail-block {
        margin-bottom: 50.99px;
      }
      .contact-type-block {
        margin-bottom: 48.03px;
      }
      .comments-block {
        display: flex;
        margin-bottom: 40.62px;
        .form-label {
          margin-top: 18px;
        }
      }
      .radio-block {
        margin-bottom: 44.43px;          
        label:first-child {
          margin-left: 5px;
        }
      }
      .privacy-policy-block {
        margin-bottom: 25.65px;
      }
      .submit-button {
        position: relative;
        @include button(56px, 261px, 12px, #3F51B5, 22px, bold, #FFFFFF);
        box-shadow: 0 3px 6px lighten(#000000, 84%);
        margin: 0 auto;
        &::after {
          position: absolute;
          top: 50%;
          right: 18.5px;
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
          content: url(../img/contact-arrow.svg);
        }
      }
    }
    .modal-overlay {
      display: none;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border: solid 1px #707070;
      background-color: rgba(0, 0, 0, 0.3);
      z-index: 1;
    }
    .modal-wrapper {
      display: none;
      position: fixed;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      height: 610px;
      width: 930px;
      z-index: 2;
      .batsu-button {
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(50%, -50%);
      }
      .privacy-policy-modal {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        height: 610px;
        width: 930px;
        background-color: #FFFFFF;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
        opacity: 1;
        padding: 65px 56.5px 20px 56px;
        .heading {
          height: 31px;
          font-size: 24px;
          color: #707070;
          margin-bottom: 73px;
          &::before {
            bottom: -24.5px;
            left: 50%;
            width: 155px;
            height: 2px;
          }
        }
        .items {
          .item {
            padding-left: 27.5px;
            &:not(:last-child) {
              margin-bottom: 30px;
            }
            &:last-child {
              margin-bottom: 19px;
            }
            .sub-heading {
              position: relative;
              font-size: 20px;
              font-weight: bold;
              color: #707070;
              margin-bottom: 18px;
              &::before {
                content: '';
                position: absolute;
                top: 50%;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
                left: -27.5px;
                height: 18px;
                width: 3px;
                background-color: #3F51B5;
              }
            }
            .text {
              color: #707070;
            }
          }
        }
        .close-button {
          @include label(38px, 180px, 12px, #3F51B5, 16px, bold, #FFFFFF);
          box-shadow: rgba(0, 0, 0, 0.16);
          position: absolute;
          bottom: 20px;
          left: 50%;
          -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
        }
      }
    }
  }
}

// Footer
footer {
  position: relative;
  height: 338px;
  background: -moz-linear-gradient(top, #666666, #333333); 
  background: -webkit-linear-gradient(top, #666666, #333333); 
  background: linear-gradient(to bottom, #666666, #333333);
  text-align: center;
  .content {
    display: flex;
    justify-content: space-between;
    padding-top: 74px;
    padding-bottom: 91px;
    text-align: left;
    .footer-left {
      color: #FFFFFF;
      margin-left: 152px;
      .footer-brand {
        display: inline-block;
        margin-bottom: 30px;
      }
      .address {
        margin-bottom: 13px;
      }
      .phone {
        line-height: 1em;
        margin-bottom: 0;
      }
    }
    .footer-center {
      padding-right: 65px;
      margin: 0 32px;
      .navbar-nav {
        flex-direction: row;
        .nav-item {
          .nav-link {
            color: #FFFFFF;
            &:hover {
              border-bottom: solid 3px #E81919;
            }
            &.active {
              border-bottom: solid 3px #E81919;
            }
          }
          &:not(:last-child) {
            margin-right: 30px;
          }
        }
      }
    }
    .footer-right {
      margin-right: 165px;
      .sns-list {
        display: flex;
        list-style: none;
        padding-left: 0;
        margin-top: 6px;
        .sns-item {
          &:not(:last-child) {
            margin-right: 16px;
          }
        }
      }
    }
  }
  .copy {
    font-size: 14px;
    color: #FFFFFF;
    margin-bottom: 31px;
  }
  .totop {
    display: none;
    position: fixed;
    bottom: 14px;
    right: 19px;
    z-index: 1;
  }
}

// デスクトップ, 1199px 以下
@media (max-width: 1199px) {

  // Card
  .card {
    .swiper-container {
      max-width: 714px!important;
    }
  }
}

// タブレット, 991px 以下
@media (max-width: 991px) {

  // Navigation
  .navbar {
    display: none!important;
  }
  .navbar-responsive {
    position: relative;
    display: flex;
    align-items: center;
    height: 80px;
    background-color: #3F51B5;
    box-shadow: 0 3px 3px lighten(#000000, 84%);
    .drawer-nav {
      .nav-item {
        height: 50px;
        border-bottom: dotted 1px #707070;
        .drawer-menu-item {
          position: relative;
          color: #707070;
          &::after {
            position: absolute;
            content: url(../img/arrow-b.svg);
            top: 50%;
            right: 21.5px;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
          }
        }
      }
    }
    .navbar-brand {
      margin-left: 16px;
    }
    .drawer-hamburger {
      position: absolute;
      bottom: 0;
      padding-right: 0;
      margin-left: auto;
      margin-right: 18.69px;
      outline: none;
      .drawer-hamburger-icon,
      .drawer-hamburger-icon::before,
      .drawer-hamburger-icon::after {
        height: 4px;
        background-color: #FFFFFF;
      }
    }
  }
  .drawer-overlay {
    background-color: rgba(0, 0, 0, 0.8)!important;
  }

  // Landing
  .landing {
    height: calc(100vh - 80px);
    .swiper-container {
      height: 100%;
      .swiper1 {
        .inner {
          .landing-message {
            font-size: 48px;
          }
          .lead-sentence {
            font-size: 32px;
          }
          .contact-button {
            @include button(60px, 260px, 12px, #3F51B5, 22px, bold, #FFFFFF);
          }
        }
      }
      .swiper-button-prev,
      .swiper-button-next {
        width: 50px;
        height: 50px;
      }
      .swiper-button-prev {
        background: url(../img/arrow-prev.svg) no-repeat center center / contain;
        margin-left: 48px;
      }
      .swiper-button-next {
          background: url(../img/arrow-next.svg) no-repeat center center / contain;
          margin-right: 48px;
      }
    }
  }

  // Card
  .card {
    .swiper-container {
      max-width: 342px!important;
    }
  }
  
  // News
  .news {
    .container-fluid {
      .items {
        .item {
          flex-wrap: wrap;
          .label-gray,
          .label-blue,
          .label-red {
            margin-left: 16px;
            margin-right: 16px;
          }
          .text {
            max-width: none;
            margin: 12px 0;
          }
        }
      }
    }
  }

  // Price
  .price {
    .container-fluid {
      .content{
        flex-direction: column;
        .price-img {
          margin: 0 auto 10px;
        }
        .item {
          margin: 0 auto;
        }
      }
    }
  }

  // Contact
  .contact {
    .container-fluid {
      .contact-form {
        height: 1052px;
        .form-group {
          flex-direction: column;
          .form-label-wrapper {
            margin-bottom: 8px;
            .required-label {
              top: 50%;
              left: auto;
              right: -55px;
              -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
            }
          }
          .form-control {
            width: 100%;
          }
        }
        .name-block,
        .mail-block,
        .contact-type-block {
          align-items: normal;
        }
        .comments-block {
          .form-label {
            margin-top: 0;
          }
        }
      }
      .modal-wrapper {
        height: 90vh;
        width: 85vw;
        .privacy-policy-modal {
          height: 90vh;
          width: 85vw;
          padding: 32px 16px;
          overflow-y: scroll;
          .close-button {
            position: static;
            margin: 32px auto 0;
            -webkit-transform: none;
            transform: none;
          }
        }
      }
    }
  }

  // Footer
  footer {
    height: max-content;
    .content {
      flex-direction: column;
      padding-top: 32px;
      padding-bottom: 32px;
      .footer-left {
        margin: 0 auto 32px;
      }
      .footer-center {
        padding-right: 0;
        margin: 0 auto 32px;
      }
      .footer-right {
        margin: 0 auto;
      }
    }
  }
}

// 縦向きモバイル, 575px 以下
@media (max-width: 575px) {

  .navbar-responsive {
    height: 60px;
    .drawer-nav {
      width: 200px;
    }
    .navbar-logo {
      height: 29px;
      width: 147px;
    }
  }

  // Landing
  .landing {
    .swiper-container {
      height: 100%;
      .swiper1 {
        .inner {
          .landing-message {
            font-size: 28px;
          }
          .lead-sentence {
            font-size: 22px;
            margin-bottom: 48px;
          }
          .contact-button {
            @include button(56px, 220px, 12px, #3F51B5, 18px, bold, #FFFFFF);
          }
        }
      }
      .swiper-button-prev,
      .swiper-button-next {
        width: 32px;
        height: 32px;
      }
      .swiper-button-prev {
        background: url(../img/arrow-prev.svg) no-repeat center center / contain;
        margin-left: 24px;
      }
      .swiper-button-next {
          background: url(../img/arrow-next.svg) no-repeat center center / contain;
          margin-right: 24px;
      }
    }
  }

  // Card
  .card {
    .container-fluid {
      padding: 0!important;
      .swiper-container {
        max-width: 260px!important;
        .swiper-slide {
          width: 260px!important;
          .item {
            width: 260px;
          }
        }
      }
    }
  }

  // Price
  .price {
    .container-fluid {
      .content{
        .price-img {
          height: 100%;
          width: 100%;
        }
      }
    }
  }

  // Access
  .access {
    .container-fluid {
      .content {
        .access-table {
          margin-left: auto;
          .access-row {
            .access-colmun:first-child {
              margin-right: 16px;
            }
          }
        }
        .map-button {
          @include button(48px, 240px, 12px, #3F51B5, 16px, bold, #FFFFFF);
          a::after {
            top: 2px;
            right: -32.5px;
          }
        }
      }
    }
  }

  // Contact
  .contact {
    .container-fluid {
      .contact-form {
        height: 1146px;
        padding-left: 24px;
        padding-right: 24px;
        .radio-block {
          display: flex;
          flex-direction: column;
          label {
            &:not(:last-child) {
              margin-bottom: 16px;
            }
            &:first-child {
              margin-left: 0;
            }
          }
        }
        .submit-button {
          position: relative;
          @include button(48px, 220px, 12px, #3F51B5, 16px, bold, #FFFFFF);
        }
      }
      .modal-wrapper {
        .privacy-policy-modal {
          .heading {
            font-size: 20px;
            &::before {
              bottom: -20px;
              left: 50%;
              width: 80px;
              height: 2px;
            }
          }
          .items {
            .item {
              .sub-heading {
                font-size: 16px;
              }
              .text {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }

  // Footer
  footer {
    .content {
      .footer-center {
        .navbar-nav {
          .nav-item:not(:last-child) {
            margin-right: 16px;
          }
        }
      }
    }
    .totop {
      .totop-img {
        height: 40px;
        width: 40px;
      }
    }
  }

}