.heading,
.message,
.sub-message,
.text,
.date,
.form-label {
  color: #3E3E3E;
  margin-bottom: 0;
}

.custom-text {
  color: #FFFFFF;
}

.heading {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

.sub-heading {
  font-weight: bold;
}

.bg-black {
  background-color: #3E3E3E;
}

body {
  background-color: #F3F3F3 !important;
  font-family: "Montserrat", YuGothic, "Yu Gothic", sans-serif !important;
}

header {
  width: 100%;
  background-color: #e6e6e6;
  position: absolute;
  top: 0px;
  z-index: 1;
}

header .nav {
  height: 80px;
}

header .nav .navbar-nav {
  flex-direction: row;
  align-items: center;
  padding-right: 9px;
  margin: 0 auto;
}

header .nav .navbar-nav .nav-item {
  margin-right: 40px;
}

header .nav .navbar-nav .nav-item .nav-link {
  padding: 4px 0;
  color: #3E3E3E;
}

header .nav .navbar-nav .nav-item .nav-link:hover {
  border-bottom: solid 1px #3E3E3E;
}

header .brand-logo,
header .hiraku-open-btn,
header .mobile-nav {
  display: none;
}

header .close-btn {
  display: none;
}

.main-visual {
  height: 648px;
  background-image: url(../img/mv.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.main-visual .inner {
  height: 264px;
  width: 524px;
  position: absolute;
  top: 220px;
  right: 109px;
}

.main-visual .inner .message {
  height: 84px;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 40px;
}

.main-visual .inner .sub-message {
  font-size: 18px;
  line-height: calc(26 / 18);
  letter-spacing: 0.45px;
  margin-bottom: 40px;
}

.main-visual .inner .contact-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 51px;
  width: 280px;
  border-radius: 10px;
  background-color: #FFAA3B;
  box-shadow: 0 3px 5px rgba(62, 62, 62, 0.2);
}

.main-visual .inner .contact-btn:hover {
  opacity: 0.9;
}

.main-visual .inner .contact-btn a {
  position: relative;
  height: 51px;
  width: 280px;
  font-size: 18px;
  font-weight: bold;
  line-height: 51px;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
}

.main-visual .inner .contact-btn:hover {
  background-color: #ff9408;
}

.news .container-fluid {
  padding: 0 16px;
}

.news .news-card {
  height: 655px;
  max-width: 1180px;
  background-color: #FFFFFF;
  box-shadow: 0 5px 12px rgba(62, 62, 62, 0.2);
  padding: 60px 50px 40px 50.33px;
  margin: 130px auto 130px;
}

.news .news-card .heading {
  margin-bottom: 60px;
}

.news .news-card .items .item {
  padding: 40px 30px 40px 9.67px;
  border-top: solid 1px #CECDCD;
  display: flex;
  align-items: center;
  position: relative;
}

.news .news-card .items .item::after {
  content: url(../img/news-arrow.svg);
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 6.07px;
}

.news .news-card .items .item:last-child {
  border-bottom: solid 1px #CECDCD;
}

.news .news-card .items .item:hover {
  background-color: rgba(59, 105, 255, 0.1);
  cursor: pointer;
}

.news .news-card .items .item .date {
  font-size: 18px;
  white-space: nowrap;
}

.news .news-card .items .item .label {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 28px;
  width: 125px;
  border-radius: 50px;
  background-color: #FFFFFF;
  min-width: 125px;
  border: solid 2px #3B69FF;
  margin-left: 60.03px;
  margin-right: 59.97px;
}

.news .news-card .items .item .label p {
  position: relative;
  font-size: 14px;
  font-weight: normal;
  color: #3E3E3E;
  margin-bottom: 0;
}

.news .news-card .items .item .text {
  max-width: 680px;
  line-height: calc(28 / 18);
  letter-spacing: 0.504px;
  font-size: 18px;
}

.news .news-card .more-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  width: 248px;
  border-radius: 0;
  background-color: #FFFFFF;
  border: 1px solid #707070;
  margin: 40px auto 0;
}

.news .news-card .more-btn:hover {
  opacity: 0.9;
}

.news .news-card .more-btn a {
  position: relative;
  height: 64px;
  width: 248px;
  font-size: 20px;
  font-weight: bold;
  line-height: 64px;
  color: #3E3E3E;
  text-align: center;
  text-decoration: none;
}

.news .news-card .more-btn:hover {
  background-color: #3E3E3E;
}

.news .news-card .more-btn:hover a {
  color: #FFFFFF;
}

.news .news-card .more-btn a {
  letter-spacing: 4px;
}

.service .bg-black {
  height: 400px;
  padding-top: 80px;
  position: relative;
}

.service .bg-black .service-card {
  max-width: 960px;
  padding: 54px 48px 56px;
  margin: 0 auto;
  background-color: #FFFFFF;
  box-shadow: 0 5px 12px rgba(62, 62, 62, 0.2);
  position: absolute;
  top: 204px;
  left: 16px;
  right: 16px;
}

.service .bg-black .service-card .items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.service .bg-black .service-card .items .item {
  width: 231px;
  text-align: center;
}

.service .bg-black .service-card .items .item:nth-child(1) .service-img {
  margin-bottom: 27.07px;
}

.service .bg-black .service-card .items .item:nth-child(2) .service-img {
  margin-bottom: 31.62px;
}

.service .bg-black .service-card .items .item:nth-child(3) .service-img {
  margin-bottom: 31.62px;
}

.service .bg-black .service-card .items .item .sub-heading {
  height: 54px;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 4px;
  margin-bottom: 20px;
}

.service .bg-black .service-card .items .item .text {
  line-height: calc(24 / 14);
  text-align: left;
  font-size: 14px;
}

.results {
  height: 832px;
  margin-top: 255px;
}

.results .bg-black {
  padding: 80px 0 80px 110px;
  margin-left: 93px;
}

.results .bg-black .heading {
  margin-bottom: 80px;
  text-align: left;
}

.results .bg-black .swiper-container {
  height: 436px;
}

.results .bg-black .swiper-container .swiper-wrapper .swiper-slide .slide-img {
  width: 100%;
}

.results .bg-black .swiper-container .swiper-wrapper .swiper-slide .contents {
  background-color: #FFFFFF;
  padding: 20px;
}

.results .bg-black .swiper-container .swiper-wrapper .swiper-slide .contents .sub-heading {
  font-size: 20px;
  margin-bottom: 20px;
}

.results .bg-black .swiper-container .swiper-pagination {
  text-align: left;
  display: flex;
  align-items: center;
  bottom: 0;
}

.results .bg-black .swiper-container .swiper-pagination .swiper-pagination-bullet {
  height: 12px;
  width: 12px;
  background-color: #FFFFFF;
  opacity: 1;
  margin-right: 16px;
}

.results .bg-black .swiper-container .swiper-pagination .swiper-pagination-bullet:first-child {
  margin-left: 0;
}

.results .bg-black .swiper-container .swiper-pagination .swiper-pagination-bullet-active {
  height: 20px;
  width: 20px;
  position: relative;
}

.results .bg-black .swiper-container .swiper-pagination .swiper-pagination-bullet-active::before {
  content: "";
  height: 18px;
  width: 18px;
  border: solid 3px #3E3E3E;
  border-radius: 100%;
  position: absolute;
  top: 1px;
  left: 1px;
}

.results .bg-black .more-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  width: 301px;
  border-radius: 0;
  background-color: #3E3E3E;
  border: solid 1px #FFFFFF;
  margin-top: 48px;
}

.results .bg-black .more-btn:hover {
  opacity: 0.9;
}

.results .bg-black .more-btn a {
  position: relative;
  height: 64px;
  width: 301px;
  font-size: 20px;
  font-weight: bold;
  line-height: 64px;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
}

.results .bg-black .more-btn:hover {
  background-color: #FFFFFF;
}

.results .bg-black .more-btn:hover a {
  color: #3E3E3E;
}

.results .bg-black .more-btn a {
  letter-spacing: 4px;
}

.price {
  padding-top: 80px;
  padding-bottom: 281px;
}

.price .heading {
  margin-bottom: 80px;
}

.price .price-table-wrapper {
  width: 960px;
  margin: 0 auto;
}

.price .price-table-wrapper .items {
  width: 960px;
  border: solid 1px #707070;
  margin-bottom: 24px;
}

.price .price-table-wrapper .items .item {
  height: 60px;
}

.price .price-table-wrapper .items .item:not(:last-child) .price-heading {
  border-bottom: solid 1px #FFFFFF;
}

.price .price-table-wrapper .items .item:not(:last-child) .contents {
  border-bottom: solid 1px #3E3E3E;
}

.price .price-table-wrapper .items .item .price-heading {
  width: 290px;
  background-color: #3E3E3E;
  font-size: 20px;
  color: #FFFFFF;
  text-align: center;
}

.price .price-table-wrapper .items .item .contents {
  background-color: #FFFFFF;
  padding-left: 40px;
  font-size: 20px;
  font-weight: bold;
  color: #3E3E3E;
}

.price .price-table-wrapper .text {
  font-size: 12px;
}

.comments {
  position: relative;
}

.comments .bg-black {
  height: 596px;
  max-width: 980px;
}

.comments .bg-black .comments-card {
  height: max-content;
  max-width: 644px;
  background-color: #FFFFFF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
  padding: 80px 40px 120px;
  position: absolute;
  bottom: 130px;
  left: 93px;
  z-index: 1;
}

.comments .bg-black .comments-card .heading {
  margin-bottom: 80px;
  text-align: left;
}

.comments .bg-black .comments-card .items .item {
  display: flex;
  justify-content: space-between;
}

.comments .bg-black .comments-card .items .item:not(:last-child) {
  margin-bottom: 80px;
}

.comments .bg-black .comments-card .items .item .text {
  line-height: 1.625;
}

.comments .bg-black .comments-card .items .item .comments-img {
  margin-right: 50px;
}

.comments .comments-bg-img {
  height: auto;
  width: calc(537 / 1366 * 100%);
  position: absolute;
  bottom: 170px;
  left: 736px;
}

.qa {
  background-image: url(../img/sunyu-kim-1053375-unsplash.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0;
}

.qa .container-fluid {
  padding: 0;
}

.qa .heading {
  margin-bottom: 80px;
}

.qa .items {
  width: 616px;
  margin-left: auto;
  margin-right: 109.5px;
}

.qa .items .item {
  background-color: #FFFFFF;
  padding: 18px;
  border-radius: 7px;
}

.qa .items .item:not(:last-child) {
  margin-bottom: 40px;
}

.qa .items .item .question {
  display: flex;
  align-items: center;
  position: relative;
}

.qa .items .item .question .q-mark {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 26px;
  width: 26px;
  border-radius: 100%;
  background-color: #3B69FF;
  margin-right: 13px;
}

.qa .items .item .question .q-mark p {
  position: relative;
  font-size: 16px;
  font-weight: bold;
  color: #FFFFFF;
  margin-bottom: 0;
}

.qa .items .item .question .text {
  font-weight: bold;
}

.qa .items .item .question .toggle-open,
.qa .items .item .question .toggle-close {
  position: absolute;
  right: 0;
}

.qa .items .item .question .toggle-close {
  display: none;
}

.qa .items .item .answer {
  background-color: rgba(59, 105, 255, 0.2);
  padding: 18px 14px;
  border-radius: 7px;
  margin-top: 20px;
  display: none;
}

.access {
  position: relative;
}

.access .container-fluid {
  padding: 0;
}

.access .bg-black {
  max-width: 980px;
  padding-top: 130px;
  padding-bottom: 178px;
  position: relative;
}

.access .bg-black .inner {
  margin-left: 93px;
}

.access .bg-black .inner .heading {
  text-align: left;
  margin-bottom: 40px;
}

.access .bg-black .inner .text {
  line-height: 1.625;
  margin-bottom: 40px;
}

.access .bg-black .inner .google-map-wrapper-movile-disp {
  display: none;
}

.access .bg-black .inner .map-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  width: 326px;
  border-radius: 0;
  background-color: #3E3E3E;
  border: solid 1px #FFFFFF;
}

.access .bg-black .inner .map-btn:hover {
  opacity: 0.9;
}

.access .bg-black .inner .map-btn a {
  position: relative;
  height: 64px;
  width: 326px;
  font-size: 20px;
  font-weight: bold;
  line-height: 64px;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
}

.access .bg-black .inner .map-btn:hover {
  background-color: #FFFFFF;
}

.access .bg-black .inner .map-btn:hover a {
  color: #3E3E3E;
}

.access .google-map-wrapper {
  width: calc(720 / 1366 * 100%);
  margin-bottom: 40px;
  position: absolute;
  top: 130px;
  left: 554px;
}

.access .google-map-wrapper::before {
  content: "";
  display: block;
  padding-top: calc(515 / 720 * 100%);
}

.access .google-map-wrapper .google-map {
  box-shadow: 0 0 10px rgba(62, 62, 62, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.contact {
  height: 1216px;
  background-image: url(../img/alex-blajan-159378-unsplash.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 80.5px;
  margin-top: 206px;
}

.contact .contact-form {
  height: 1055.5px;
  width: 960px;
  background-color: #FFFFFF;
  border-radius: 12px;
  margin: 0 auto;
  color: #3E3E3E;
}

.contact .contact-form .contact-header {
  height: 200px;
  background-image: url(../img/contact1.png);
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 12px 12px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact .contact-form .contact-header .inner {
  width: 480px;
}

.contact .contact-form .contact-header .inner .heading {
  margin-bottom: 12px;
}

.contact .contact-form .form {
  padding: 60px 90px;
}

.contact .contact-form .form .form-group {
  display: flex;
  align-items: center;
  position: relative;
}

.contact .contact-form .form .form-group .form-label {
  height: 29px;
  width: 275px;
  font-size: 22px;
}

.contact .contact-form .form .form-group .required-label {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 55px;
  border-radius: 5px;
  background-color: #FF4646;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.contact .contact-form .form .form-group .required-label p {
  position: relative;
  font-size: 16px;
  font-weight: normal;
  color: #FFFFFF;
  margin-bottom: 0;
}

.contact .contact-form .form .form-group .form-control {
  width: 505px;
  font-size: 22px;
}

.contact .contact-form .form .contact-type-wrapper {
  margin-bottom: 42px;
}

.contact .contact-form .form .contact-type-wrapper .contact-type {
  height: 32px;
  width: 261px;
  font-size: 18px;
}

.contact .contact-form .form .name-wrapper {
  margin-bottom: 40.5px;
}

.contact .contact-form .form .name-wrapper .required-label {
  left: 140px;
}

.contact .contact-form .form .kana-wrapper {
  margin-bottom: 40px;
}

.contact .contact-form .form .kana-wrapper .required-label {
  left: 140px;
}

.contact .contact-form .form .mail-wrapper {
  margin-bottom: 40.5px;
}

.contact .contact-form .form .sex-wrapper {
  margin-bottom: 40px;
}

.contact .contact-form .form .sex-wrapper .input-sex-wrapper label {
  font-size: 22px;
}

.contact .contact-form .form .message-wrapper {
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.contact .contact-form .form .message-wrapper .form-label {
  margin-bottom: 10px;
}

.contact .contact-form .form .message-wrapper .message {
  height: 213px;
  width: 100%;
}

.contact .contact-form .form .privacy-policy-wrapper {
  margin-bottom: 30px;
}

.contact .contact-form .form .privacy-policy-wrapper label {
  margin-bottom: 0;
}

.contact .contact-form .form .privacy-policy-wrapper label .privacy-policy {
  font-size: 18px;
}

.contact .contact-form .form .submit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 54px;
  width: 174px;
  border-radius: 10px;
  background-color: #FFAA3B;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.contact .contact-form .form .submit-btn:hover {
  opacity: 0.9;
}

.contact .contact-form .form .submit-btn a {
  position: relative;
  height: 54px;
  width: 174px;
  font-size: 18px;
  font-weight: bold;
  line-height: 54px;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
}

.contact .contact-form .form .submit-btn:hover {
  background-color: #ff9408;
}

footer {
  height: 424.5px;
  padding: 120px 93px 0;
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
}

footer .footer-left .sns-links {
  margin-bottom: 40px;
}

footer .footer-left .sns-links .sns-link:not(:last-child) {
  margin-right: 20px;
}

footer .footer-left .sns-links .sns-link .fa-twitter,
footer .footer-left .sns-links .sns-link .fa-facebook-square {
  font-size: 36px;
  opacity: 0.6;
}

footer .footer-left .nav .navbar-nav .nav-item {
  height: 1em;
}

footer .footer-left .nav .navbar-nav .nav-item:not(:last-child) {
  margin-bottom: 20px;
}

footer .footer-left .sns-link:hover,
footer .footer-left .nav-link:hover {
  color: #FFFFFF;
  opacity: 0.6;
}

footer .footer-right {
  padding-top: 43px;
}

footer .footer-right .bland-logo {
  font-family: "Berlin Sans FB", sans-serif !important;
  font-size: 44px;
  color: #E3E3E3;
  margin-bottom: 18px;
}

footer .footer-right .copy {
  font-size: 12px;
  opacity: 0.6;
  text-align: right;
}

footer .totop {
  position: fixed;
  bottom: 38.5px;
  right: 93px;
  z-index: 1;
  display: none;
}

@media (max-width: 1199px) {
  .access .google-map-wrapper {
    left: 459px;
  }
  .comments .comments-bg-img {
    display: none;
  }
}

@media (max-width: 991px) {
  .news .items .item .label {
    margin-left: 20px !important;
    margin-right: 20px !important;
  }
  .service .bg-black .service-card {
    padding-bottom: 16px;
  }
  .service .bg-black .service-card .items {
    justify-content: space-around;
  }
  .service .bg-black .service-card .items .item {
    margin-bottom: 40px;
  }
  .results {
    margin-top: 448px;
  }
  .price .price-table-wrapper {
    width: 100%;
  }
  .price .price-table-wrapper .items {
    width: 100%;
  }
  .price .price-table-wrapper .items .item .price-heading {
    width: 30%;
  }
  .access .container-fluid {
    padding: 0 16px;
  }
  .access .bg-black {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .access .bg-black .inner {
    margin-left: 0 !important;
  }
  .access .bg-black .inner .heading {
    margin-bottom: 39px;
  }
  .access .bg-black .inner .text {
    font-size: 12px;
    line-height: 2;
    margin-bottom: 19px;
  }
  .access .bg-black .inner .google-map-wrapper-movile-disp {
    width: 100%;
    margin-bottom: 40px;
    display: block !important;
    position: relative;
  }
  .access .bg-black .inner .google-map-wrapper-movile-disp::before {
    content: "";
    display: block;
    padding-top: calc(241 / 343 * 100%);
  }
  .access .bg-black .inner .google-map-wrapper-movile-disp .google-map {
    display: block;
    box-shadow: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .access .bg-black .inner .map-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 54px;
    width: 100% !important;
    border-radius: 0;
    background-color: #3E3E3E;
  }
  .access .bg-black .inner .map-btn:hover {
    opacity: 0.9;
  }
  .access .bg-black .inner .map-btn a {
    position: relative;
    height: 54px;
    width: 100% !important;
    font-size: 18px;
    font-weight: bold;
    line-height: 54px;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
  }
  .access .google-map-wrapper {
    display: none;
  }
  .contact .contact-form {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .js-hiraku-offcanvas-body-left .js-hiraku-header-fixed {
    margin-left: -80%;
  }
  .js-hiraku-offcanvas-body-right .js-hiraku-header-fixed {
    margin-left: 80%;
  }
  .js-hiraku-offcanvas .js-hiraku-offcanvas-sidebar-right {
    margin-left: -80%;
  }
  .js-hiraku-offcanvas .js-hiraku-offcanvas-sidebar-left {
    margin-right: 80%;
  }
  .js-hiraku-offcanvas .js-hiraku-offcanvas-sidebar {
    width: 80%;
  }
  .js-hiraku-offcanvas-body-right {
    right: 80%;
  }
  .js-hiraku-offcanvas-body-left {
    left: 80%;
  }
  .heading {
    font-size: 30px;
  }
  .drawer-overlay {
    background-color: #3e3e3e;
    opacity: 0.7;
  }
  header {
    height: 68px;
    background-color: #FFFFFF;
    padding: 0 16px;
    display: flex;
    align-items: center;
    z-index: 2;
  }
  header .nav {
    display: none;
  }
  header .brand-logo,
  header .hiraku-open-btn,
  header .mobile-nav {
    display: block;
  }
  header .hiraku-open-btn {
    padding: 0;
    margin-left: auto;
    border: none;
    outline: none;
  }
  header .hiraku-open-btn span,
  header .hiraku-open-btn span::before,
  header .hiraku-open-btn span::after {
    height: 4px;
    width: 26px;
    background-color: #3E3E3E;
  }
  header .hiraku-open-btn span::before {
    top: -8px;
  }
  header .hiraku-open-btn span::after {
    bottom: -8px;
  }
  header .mobile-nav {
    display: flex !important;
    position: relative;
  }
  header .mobile-nav .navbar-nav {
    padding-top: 6px;
    padding-left: 1px;
    margin: auto;
  }
  header .mobile-nav .navbar-nav .nav-item {
    height: 22px;
    text-align: center;
    margin-bottom: 20px;
  }
  header .mobile-nav .navbar-nav .nav-item .nav-link {
    font-size: 18px;
    color: #3E3E3E;
    padding: 0;
    display: inline-block;
  }
  header .mobile-nav .navbar-nav .nav-item .nav-link:hover {
    border-bottom: solid 1px #3E3E3E;
  }
  .main-visual {
    height: 667px;
    background-position: 24%;
  }
  .main-visual .inner {
    height: 165px;
    width: 343px;
    top: 206px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .main-visual .inner .message {
    height: 76px;
    font-size: 24px;
    line-height: 1.875;
  }
  .main-visual .inner .sub-message {
    font-size: 16px;
    line-height: 1.625;
  }
  .main-visual .inner .contact-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 232px;
    border-radius: 10px;
    background-color: #FFAA3B;
    margin: 0 auto;
  }
  .main-visual .inner .contact-btn:hover {
    opacity: 0.9;
  }
  .main-visual .inner .contact-btn a {
    position: relative;
    height: 50px;
    width: 232px;
    font-size: 18px;
    font-weight: bold;
    line-height: 50px;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
  }
  .news {
    position: relative;
  }
  .news .news-card {
    height: max-content;
    padding: 40px 0 40px;
    margin: 0 16px;
    position: absolute;
    top: -40px;
    left: 0;
    right: 0;
    z-index: 1;
  }
  .news .news-card .heading {
    margin-bottom: 40px;
  }
  .news .news-card .items .item {
    padding: 13px 47px 16px 16px;
    flex-wrap: wrap;
  }
  .news .news-card .items .item::after {
    right: 9.95px;
  }
  .news .news-card .items .item .date {
    font-size: 14px;
  }
  .news .news-card .items .item .label {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 89px;
    border-radius: 50px;
    background-color: #FFFFFF;
    min-width: 89px;
    margin-bottom: 10px;
  }
  .news .news-card .items .item .label p {
    position: relative;
    font-size: 12px;
    font-weight: normal;
    color: #3E3E3E;
    margin-bottom: 0;
  }
  .news .news-card .items .item .text {
    font-size: 14px;
  }
  .news .news-card .more-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 54px;
    width: auto;
    border-radius: 0;
    background-color: #FFFFFF;
    max-width: 311px;
  }
  .news .news-card .more-btn:hover {
    opacity: 0.9;
  }
  .news .news-card .more-btn a {
    position: relative;
    height: 54px;
    width: auto;
    font-size: 20px;
    font-weight: bold;
    line-height: 54px;
    color: #3E3E3E;
    text-align: center;
    text-decoration: none;
  }
  .service {
    margin-top: 608px;
  }
  .service .bg-black {
    height: 480px;
    padding-top: 40px;
    position: relative;
  }
  .service .bg-black .service-card {
    height: 751px;
    max-width: 100%;
    padding: 40px 16px 0;
    margin: 0 16px;
    position: absolute;
    top: 117px;
    left: 0;
    right: 0;
  }
  .service .bg-black .service-card .items .item {
    width: 311px;
    text-align: center;
  }
  .service .bg-black .service-card .items .item:not(:last-child) {
    margin-bottom: 65px;
  }
  .service .bg-black .service-card .items .item:nth-child(1) .service-img {
    margin-bottom: 28.07px;
  }
  .service .bg-black .service-card .items .item:nth-child(2) .service-img {
    margin-bottom: 33.62px;
  }
  .service .bg-black .service-card .items .item:nth-child(3) .service-img {
    margin-bottom: 33.62px;
  }
  .service .bg-black .service-card .items .item .sub-heading {
    height: 46px;
    font-size: 18px;
    line-height: calc(24 / 18);
    margin-bottom: 24px;
  }
  .service .bg-black .service-card .items .item .text {
    font-size: 14px;
  }
  .results {
    height: 546px;
  }
  .results .bg-black {
    padding: 40px 0 40px 16px;
    margin-left: 0;
  }
  .results .bg-black .heading {
    margin-bottom: 40px;
  }
  .results .bg-black .swiper-container {
    height: 295px;
  }
  .results .bg-black .swiper-container .swiper-wrapper .swiper-slide .contents {
    padding: 12px 12.03px 11.96px 12px;
  }
  .results .bg-black .swiper-container .swiper-wrapper .swiper-slide .contents .sub-heading {
    font-size: 15px;
    margin-bottom: 12px;
  }
  .results .bg-black .swiper-container .swiper-wrapper .swiper-slide .contents .text {
    font-size: 12px;
  }
  .results .bg-black .swiper-container .swiper-pagination {
    justify-content: center;
  }
  .results .bg-black .more-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 54px;
    width: auto;
    border-radius: 0;
    background-color: #3E3E3E;
    max-width: 100%;
    margin: 40px 16px 0 0;
  }
  .results .bg-black .more-btn:hover {
    opacity: 0.9;
  }
  .results .bg-black .more-btn a {
    position: relative;
    height: 54px;
    width: auto;
    font-size: 18px;
    font-weight: bold;
    line-height: 54px;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
  }
  .price {
    padding-top: 40px;
    padding-bottom: 120px;
  }
  .price .heading {
    margin-bottom: 40px;
  }
  .price .price-table-wrapper .items {
    margin-bottom: 14px;
  }
  .price .price-table-wrapper .items .item {
    height: 60.5px;
  }
  .price .price-table-wrapper .items .item .price-heading {
    width: 104px;
  }
  .price .price-table-wrapper .items .item .contents {
    padding-left: 20px;
  }
  .comments .bg-black {
    height: 450px;
  }
  .comments .bg-black .comments-card {
    max-width: 100%;
    padding: 40px 20px 40.01px;
    margin: 0 16px;
    position: absolute;
    top: -60px;
    left: 0;
    z-index: 1;
  }
  .comments .bg-black .comments-card .heading {
    margin-bottom: 40px;
  }
  .comments .bg-black .comments-card .items .item:not(:last-child) {
    margin-bottom: 30.01px;
  }
  .comments .bg-black .comments-card .items .item .comments-img {
    height: 56px;
    margin-right: 24.03px;
  }
  .comments .bg-black .comments-card .items .item .text {
    font-size: 14px;
  }
  .qa {
    padding: 40px 0;
  }
  .qa .container-fluid {
    padding: 0 16px;
  }
  .qa .heading {
    margin-bottom: 40px;
  }
  .qa .items {
    width: 100%;
  }
  .qa .items .item:not(:last-child) {
    margin-bottom: 30px;
  }
  .contact {
    height: 1102px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 0;
  }
  .contact .container-fluid {
    padding: 0 16px;
  }
  .contact .contact-form {
    height: max-content;
    width: 100%;
  }
  .contact .contact-form .contact-header {
    height: 160px;
    padding: 0 16px;
  }
  .contact .contact-form .contact-header .inner {
    width: auto;
  }
  .contact .contact-form .contact-header .inner .heading {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .contact .contact-form .contact-header .inner .text {
    font-size: 14px;
  }
  .contact .contact-form .form {
    padding: 40px 16px;
  }
  .contact .contact-form .form .form-group {
    flex-direction: column;
    justify-content: flex-start;
  }
  .contact .contact-form .form .form-group .form-label {
    height: 21px;
    width: auto;
    font-size: 16px;
    line-height: calc(22.5 / 16);
    margin-right: auto;
    margin-bottom: 10px;
  }
  .contact .contact-form .form .form-group .required-label {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 22px;
    width: 50px;
    border-radius: 5px;
    background-color: #FF4646;
    position: absolute;
    top: -1px;
    -webkit-transform: none;
    transform: none;
  }
  .contact .contact-form .form .form-group .required-label p {
    position: relative;
    font-size: 14px;
    font-weight: normal;
    color: #FFFFFF;
    margin-bottom: 0;
  }
  .contact .contact-form .form .form-group .form-control {
    height: 23.5px;
    width: 100%;
    font-size: 16px;
  }
  .contact .contact-form .form .contact-type-wrapper {
    margin-bottom: 41px;
  }
  .contact .contact-form .form .contact-type-wrapper .contact-type {
    height: 32px;
    width: 100%;
    font-size: 16px;
  }
  .contact .contact-form .form .name-wrapper {
    margin-bottom: 41px;
  }
  .contact .contact-form .form .name-wrapper .required-label {
    left: 52px;
  }
  .contact .contact-form .form .kana-wrapper {
    margin-bottom: 41px;
  }
  .contact .contact-form .form .kana-wrapper .required-label {
    left: 84px;
  }
  .contact .contact-form .form .mail-wrapper {
    margin-bottom: 40px;
  }
  .contact .contact-form .form .sex-wrapper {
    margin-bottom: 40px;
  }
  .contact .contact-form .form .sex-wrapper .input-sex-wrapper {
    margin-right: auto;
  }
  .contact .contact-form .form .sex-wrapper .input-sex-wrapper label {
    font-size: 16px;
    margin-bottom: 0;
  }
  .contact .contact-form .form .sex-wrapper .input-sex-wrapper label span {
    padding-left: 27px;
  }
  .contact .contact-form .form .sex-wrapper .input-sex-wrapper label .male + span {
    margin-right: 95px;
  }
  .contact .contact-form .form .message-wrapper {
    margin-bottom: 20px;
  }
  .contact .contact-form .form .message-wrapper .message {
    height: 160px;
  }
  .contact .contact-form .form .privacy-policy-wrapper {
    margin-bottom: 20.5px;
  }
  .contact .contact-form .form .privacy-policy-wrapper label {
    margin-right: auto;
  }
  .contact .contact-form .form .privacy-policy-wrapper label .privacy-policy + span {
    font-size: 16px;
  }
  .contact .contact-form .form .submit-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 121px;
    border-radius: 10px;
    background-color: #FFAA3B;
    margin: 0 auto;
  }
  .contact .contact-form .form .submit-btn:hover {
    opacity: 0.9;
  }
  .contact .contact-form .form .submit-btn a {
    position: relative;
    height: 50px;
    width: 121px;
    font-size: 18px;
    font-weight: bold;
    line-height: 50px;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
  }
  footer {
    height: 408px;
    padding: 60px 0 92px;
    display: flex !important;
    flex-direction: column;
  }
  footer .footer-left {
    margin-bottom: 35px;
  }
  footer .footer-left .sns-links {
    max-width: 204px;
    margin: 0 auto 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  footer .footer-left .nav .navbar-nav {
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
  }
  footer .footer-left .nav .navbar-nav .nav-item {
    height: 1em;
    margin-bottom: 20px !important;
  }
  footer .footer-left .nav .navbar-nav .nav-item:not(:last-child) {
    margin-bottom: 0;
  }
  footer .footer-left .nav .navbar-nav .nav-item:nth-child(1) {
    margin-left: 60px;
    margin-right: 68px;
  }
  footer .footer-left .nav .navbar-nav .nav-item:nth-child(2) {
    margin-right: 47px;
  }
  footer .footer-left .nav .navbar-nav .nav-item:nth-child(3) {
    margin: 0 auto;
  }
  footer .footer-left .nav .navbar-nav .nav-item .nav-link {
    padding: 0;
    font-size: 14px;
  }
  footer .footer-right {
    padding-top: 0;
  }
  footer .footer-right .bland-logo {
    font-size: 31px;
    text-align: center;
    padding-right: 7px;
    margin-bottom: 8px;
  }
  footer .footer-right .copy {
    text-align: center;
    margin-bottom: 0;
  }
  footer .totop {
    bottom: 16px;
    right: 16px;
  }
}
