a {
    color: #1a0dab;
    text-decoration: none;
    &:hover {
      color: #1a0dab;
      text-decoration: underline;
    }
    &:active {
      text-decoration: none;
    }
  }
  
  body {
    font-family: Verdana, sans-serif;
    color: #333333;
  }

  .heading {
    position: relative;
    font-size: 28px;
    font-weight: normal;
    margin-bottom: 60px;
    &::before {
      content: "";
      position: absolute;
      height: 3px;
      width: 80px;
      background-color: #1e73be;
      bottom: -16px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
    }
  }

  .sub-heading {
    position: relative;
    font-size: 22px;
    font-weight: normal;
    text-align: left;
    padding-left: 12px;
    &::before {
      content: "";
      position: absolute;
      height: 22px;
      width: 3px;
      background-color: #1e73be;
      left: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }

  .mb-75 {
    margin-bottom: 75px;
  }
  
  .introduction,
  .summary {
    max-width: 800px;
    padding: 0 16px;
    margin: 40px auto 0;
    .content {
      text-align: center;
      .description {
        text-align: left;
      }
    }
  }
  
  .works {
    max-width: 800px;
    padding: 0 12px;
    margin: 60px auto 0;
    .content {
      text-align: center;
      &:not(:last-child) {
        padding-bottom: 40px;
      }
      .product-img-wrapper {
        transition: 0.4s;
        &:hover {
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        }
        .product-img {
          height: auto;
          width: 100%;
        }
      }
      .description {
        text-align: left;
      }
    }
  }
  
  .contact {
    margin: 60px auto 60px;
    .btn {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 48px;
      width: 200px;
      border-radius: 4px;
      background-color: #1e73be;
      outline: none;
      margin: 0 auto;
      &:hover {
        opacity: 0.9;
      }
      a {
        height: 48px;
        width: 200px;
        font-weight: bold;
        line-height: 48px;
        color: white;
        text-align: center;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  
  footer {
    max-width: 400px;
    margin: 0 auto 60px;
    .copy {
      color: lightgray;
      text-align: center;
    }
  }
  
  @media (max-width: 575px) {
    .product-img {
      height: 195px;
      width: 300px;
    }
  }