// ファイル
#resume {
  display: none;
}

#file-label {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.16);
  cursor: pointer;
  padding: 0.4em 0.8em;
}

#resume-name {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  background-image: none;
  border: none;
  border-radius: 0;
  color: inherit;
  display: none;
  font-family: inherit;
  font-size: 1em;
  padding: 0.4em 0;
  width: 100%;
}